
h1 {
	margin: 10px auto 10px auto;
	border: 2px double black;
	padding: 10px 5px 10px 5px;
	width: 500px;
	text-align: center;
}

img {
	display: block;
	width: 720px;
	margin: 5px auto 5px auto;
}

#intro:first-letter {
	font-size: 200%;
	text-shadow: 2px 2px 3px black;
}

#intro {
	text-align: center;
	min-width: 500px;
	margin: 5px auto 5px auto;

}

.compare h2 {
	font-family: Arial, Verdana, sans-serif;
	margin-left: 10px;
}

.compare p {
	text-indent: 20px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: orange;
}