.user-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-width: 25%;
    max-width: 33%;
    margin: auto;
}

.buttons {
	text-decoration: none;
	color: inherit;
}

a:active {
	color: darkorange;
}